/*google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* wildcard selector to override default styles*/
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}
/* Header*/
header {
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    z-index: 100;
    box-shadow: 0 5px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}
.navbar li {
    letter-spacing: 4px;
    list-style-type: none;
    font-weight: 700;
    font-size: 110%;
    margin-right: 30px;
    display: inline-block;
}
.navbar li a {
    color: inherit
}
.navbar a:hover {
    color: #eb0e0e;
    font-size: 120%;
}
#logo {
    font-family: 'Archivo Black', sans-serif;
    color: black;
    font-size: 300%;
    letter-spacing: 4px;
}

/* Main*/
Main { 
    /*make the main content take up unused space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
/*Hero image*/
#hero {
    height: 1200px;
    width: 100%;
    background: url(../images/riff-img3-1.webp) no-repeat center center/ cover;
}
/*about section*/
#about {
    padding: 50px 130px;
    vertical-align: baseline;
    font-size: 110%;
}
/*Show section*/
#show {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: justify;
    vertical-align: center;
    padding: 30px 130px;
    grid-gap: 25px;
}

#show i {
    font-size: 40px;
    color: red;
}
/* upcoming gigs section*/
#upcoming {
    margin: 20px 0;
}
.gigs {
    Display: flex;
    flex-wrap: wrap;
    text-align:center;
    color:white; 
    
}
.gigs div { 
    height: 250px;
    width: 20%;
    border: 2px solid white;
    font-size: 120%;
}
#back {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 60px;
}

#crix {
    background: url(../images/crix-rainham.webp) no-repeat center/ cover;  
    
}

#bounty {
    background: url(../images/the-bounty.webp) no-repeat center/cover;   
}
#spyglass {
    background: url(../images/spyglass.webp) no-repeat center/cover;
    
}
#horse {
    background: url(../images/white-horse.webp) no-repeat center/cover;
     
}
#queens {
    background: url(../images/queens-head.webp) no-repeat center/cover;
  }  

/*gallery page*/
#photos img {
    line-height: 1em;
    column-gap: 0;
    max-width:100%;
}
    
#gallery {
    column-count: 4;
    column-gap: 0;
    line-height:0;
}

/* contact Us page */
#contact-form {
    max-width: 400px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.text-input {  
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 1px;
    padding: 0 5px;
}
#contact-form {
    border: 2px solid black;
    padding: 25px;
}
.submit {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: red;
    color: #fafafa;
    align-content: center;
    
}

/*Thank you page*/
#thank-you {
    margin-top: 10%;
    font-size: 130%;
    text-align: center;
    margin-bottom: 10%;
}
#quad img{
    max-width:  100%;
    align-items: center;
    padding: 0 10%;
}
.the-band {
    display: flex;
    justify-content: space-evenly;

}
.the-band img {
    height: 300px;
    width: 300px;
    /* To make the images circular*/
    border-radius: 50%;
}

/*footer*/
.social-media {    
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
}
.social-media li {
    font-size: 160%;
    padding: 5%;
}
/* social media icon styles */
#fb {
    color: blue;
}
#twitter {
    color: lightblue;
}
#insta {
    color: rgb(181, 30, 171);
}
#youtube {
    color:#eb0e0e;
}
.social-media i:hover {
    font-size: 160%;
}

/* media query (mobile phones below 768px) */
@media screen and (max-width:768px) {
    
    /* navbar styles with toggle */
    nav {
        position:absolute;
        background-color: white;
        width: 100%;
        left: 0;
        display: none;
        top:100%;
        box-shadow: 0 5px 3px #3a3a3a;;
    }
    
    .navbar li {
        display: flex;
        justify-content: right;
        margin-bottom: 1em;
    }

    #logo {
        font-size:250%;
    }
    /* Nav toggle */
    #nav-toggle:checked~nav {
        display:block;
    }
    #nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        font-size: 2rem;
    }
    #hero {
        height:400px;
        object-fit: scale-down;
    }
   
    #about {
        padding: 20px 12px;
        vertical-align: baseline;
        font-size: 100%;
        text-align: justify;
       
    }
    #show {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
        grid-template-columns: 1fr;
        padding: 30px 12px;
       
    }
    .gigs div {
        Display: flex;
        flex-direction: column;
        flex-shrink: 1;
        width: 100%;
             
        }
    #gallery {
        width:100%;
        column-count: 1;
    }
}

/* media query (above 768x) */
@media screen and (min-width:768px) {

    .nav-toggle-label {
        display: none
    }
    #nav-toggle {
        display: none;
    }
    main {
        margin-top: 65px;
    }
   


}

